*{
 background-color: antiquewhite;
 font-family:  cursive;
}


.box{
    border: 2px solid rgb(151, 145, 145);
    padding: 5px;
    margin: 20px;
    background-color: rgba(229, 223, 205, 0.478);
}

.vivi.box{
    box-sizing: border-box;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

header{
    padding: 10px;
    margin-bottom: 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.navegacion{
    background-color: rgb(235, 219, 210);
    text-align: left;
}

nav a{
    background-color: rgb(235, 219, 210);
    margin: 20px;
    text-decoration: none;
    color: rgb(136, 92, 92);
    font-size: 20px;
    
}

body{
    font-family: cursive;
    padding: 50px;
    margin: 10px;
    padding: 5px;
    color: rgb(136, 92, 92);
    text-align: center;
}

.flex-container{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    flex-grow: 0;
    flex-shrink: 0;
    gap: 500px;

}
.Members{
    padding: 10px;
    margin: 20px;
    width: 250px;
    height: 500px;
}

.Steiner{
    align-self: center;
    flex-grow: 3;
    height: 600px;
}