*{
 background-color: antiquewhite;
 font-family:  cursive;
}


.box{
    border: 2px solid rgb(151, 145, 145);
    padding: 5px;
    margin: 20px;
    background-color: rgba(229, 223, 205, 0.478);
}

.vivi.box{
    box-sizing: border-box;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

body{
    font-family: cursive;
    padding: 50px;
    margin: 10px;
    padding: 5px;
    color: rgb(136, 92, 92);
    text-align: center;
}
