* {
  font-family: cursive, Arial, Helvetica, sans-serif;
}

.box {
  border: 2px solid rgb(151, 145, 145);
  padding: 5px;
  margin: 20px;
  background-color: rgba(229, 223, 205, 0.478);
}

.vivi.box {
  box-sizing: border-box;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Estilos para el header y la navegacion */

header {
  background-color: rgb(235, 219, 210);
  padding: 100;
  margin: 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  overflow: hidden;

  width: 100%;
  left: 0;
  right: 0;
}
.navegacion {
  text-align: left;
  padding: 10px;
  justify-content: space-between;
}

.navegacion a {
  margin: 10px;
  text-decoration: none;
  color: rgb(136, 92, 92);
  font-size: 20px;
  gap: 20px;
}

.navegacion a:hover {
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.navegacion .KHLogo {
  height: 50px;
  float: left;
  margin-right: 20px;
  display: inline;
}

.Extras {
  background-color: rgb(136, 92, 92);
  float: right;
  color: white;
  border: none;
  padding: 10px 10px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  display: inline;
}
.Extras:hover {
  background-color: rgb(201, 179, 169);
}

/* Estilos para el footer de cookies */

.cookie-footer {
  padding: 10px;
  text-align: center;
  font-size: 14px;
  color: rgb(136, 92, 92);
  text-decoration: none;
}

.cookie-footer a {
  text-decoration: none;
}

.cookie-footer button {
  background-color: rgb(201, 179, 169);
  color: white;
  border: none;
  padding: 5px 10px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}
.cookie-footer button:hover {
  background-color: rgb(136, 92, 92);
}

/* Estilos para el cuerpo de la pagina */

body {
  background-color: antiquewhite;
  font-family: cursive;
  color: rgb(136, 92, 92);
  text-align: center;
  width: 100%;
  height: 100%;
}

/* Estilos para el contenedor flex y los elementos dentro de el */

.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
  flex-grow: 0;
  flex-shrink: 0;
  gap: 500px;
}
.Members {
  width: 250px;
  height: 500px;
}

.Steiner {
  align-self: center;
  flex-grow: 3;
  height: 600px;
}

/* Estilos para la galeria de imagenes */

.gallery-container {

  display: grid;

  grid-template-columns: repeat(4, 2fr);

  gap: 20px;

  padding: 20px;

}

.gallery-item {

  background-color: #ffffffbb;

  padding: 20px;

  text-align: center;

  border-radius: 8px;

}
.gallery-item img {

  max-width: 500%;

  height: 250px;

  border-radius: 8px;

}


.Teams {
  font-family: Arial !important;
  display: grid;
  grid-template-areas: 
    "vertical horizontal";
  grid-template-columns: 1fr 1fr; /* dos columnas principales */
  gap: 20px;
  background-color: #6d72ce;
  border:5px solid #fafee3;
  border-radius: 10px;

  width: 95%;
  margin: auto;
  
}

/* Área izquierda: vertical */
.EquipoPrincipal {
  padding: 10px;
  font-size: 40px;
  grid-area: vertical;
  display: grid;
  grid-template-rows: repeat(3, auto); /* apila 3 elementos */
  gap: 10px;
  align-items: center;
}

/* Área derecha: horizontal */
.EquipoSecundario {
  padding: 10px;
  font-size: 30px;
  grid-area: horizontal;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* dos columnas */
  gap: 10px;
  left: 20px;
}

.v1, .v2, .v3, .v4 {
  display: flex;
  background: #f8f9fa;
  border: 1px solid #ccc;
  border-radius: 10px;
  align-items: center;
}

.h1, .h2 {
  display: flex;
  background: #f8f9fa;
  border: 1px solid #ccc;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
}

.v1 img, .v2 img, .v3 img , .v4 img{ 
  width: 30%; 
  height: auto; 
  object-fit: contain; 
  border-radius: 4px; }

.h1 img, .h2 img { 
  width: 80%; 
  height: auto; 
  object-fit: contain; 
  border-radius: 4px; }

/*-----------------------------------------------------------------------*/

/* Breakpoints*/

@media (max-width: 600px) {
  .box {
    width: 80%;
  }
  .vivi.box {
    width: 80%;
  }


  .flex-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .Members {
    width: 20%;
    height: 200px;
  }
  .Steiner {
  align-self: center;
  flex-grow: 3;
  height: 250;
  }

  .navegacion a{
    font-size: 10px;
  }

  .EquipoPrincipal {
    font-size: 10px;
  }
  .EquipoSecundario {
    font-size: 10px;
  }
}

/* Breakpoint para tablets */

@media (min-width: 601px) and (max-width: 1024px) {
  .box {
    width: 70%;
  }
  .vivi.box {
    width: 70%;
  }

  .flex-container {
    flex-direction: row;
    align-items: center;
    gap: 100px;
  }
  .Members {
    width: 200px;
    height: 400px;
  }
  .Steiner {
  align-self: center;
  flex-grow: 3;
  height: 400px;
  }

  .navegacion a{
    font-size: 15px;
  }

  
}

/* Breakpoint para pantallas grandes */

@media (min-width: 1025px) {
  .box {
    width: 50%;
  }
  .vivi.box {
    width: 50%;
  }

  .flex-container {
    flex-direction: row;
    align-items: stretch;
    gap: 500px;
  }
  .Members {
    width: 250px;
    height: 500px;
  }
  .Steiner {
  align-self: center;
  flex-grow: 3;
  height: 600px;
  }

  .navegacion a{
    font-size: 20px;
  }
}